.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
.vs/CppStudy/config/applicationhost.config
.vs/CppStudy/FileContentIndex/664826ba-7d81-45e6-a95e-28f57ccc4598.vsidx
.vs/CppStudy/FileContentIndex/read.lock
.vs/CppStudy/v17/.wsuo
.vs/CppStudy/v17/Browse.VC.db
.vs/CppStudy/v17/ipch/AutoPCH/70914dd48402146e/SPLIT.ipch
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
